/* CIS 2336 CSS Demo File */

/* Add your CSS here during class */

ol{
    color: blueviolet;
}
ul{
  color: cadetblue;  
}
nav {
    background-color: burlywood;
}
h1{
    color: aqua;
}

#main_nav{
    background-color: darkcyan;
    padding: 15px;
}
#main_nav a {
    color: white;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;

}
#main_nav a:hover{
    color: crimson;
    text-decoration: underline;
}
.highlight{
    background-color: blanchedalmond;
    font-weight:  bold;
}
#last{
    background-color:aquamarine;
}